@model Gateway.Storage.Dtos.ElementDto

@{
    ViewData["Title"] = "Dodaj element";
}


<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="CreateElements">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Nazwa</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                </div>
            </form>
            <div class="text-center mt-4">
                <a class="btn btn-secondary" asp-action="Index">Cofnij</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
