﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                Witaj @UserManager.GetUserName(User)!
                            </a>
                        </li>
                        <li class="nav-item">
                            <form id="logoutForm" class="form-inline" asp-controller="Auth" asp-action="Logout">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Wyloguj się</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="register" asp-area="" asp-controller="Auth" asp-action="RegisterView">Zarejestruj się</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="login" asp-area="" asp-controller="Auth" asp-action="LoginView">Zaloguj się</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>