@{
    ViewData["Title"] = "Strona startowa";
    ViewData["BodyClass"] = "index-page";
}

@{
    ViewData["Title"] = "Strona startowa";
    ViewData["BodyClass"] = "index-page";
}

<div class="hero-section text-center">
    <div class="container">
        <h1 class="display-4">Witamy w Service Desk Brama</h1>
        <p class="lead">Twoje jedno miejsce do wsparcia IT i pomocy technicznej.</p>
        <form asp-controller="Ticket" asp-action="Create" method="get">
            <button type="submit" class="btn btn-primary btn-lg">Zgłoś problem</button>
        </form>
    </div>
</div>

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 mb-5">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <h5 class="card-title mt-3">Czym jest Service Desk Brama?</h5>
                    <p class="card-text">Service Desk Brama to zaawansowany punkt kontaktowy między użytkownikami a zespołem IT. Pomagamy w rozwiązywaniu problemów technicznych, zarządzaniu zgłoszeniami oraz udzielamy wsparcia w zakresie IT.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-6 mb-5">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <h5 class="card-title mt-3">Nasza Misja</h5>
                    <p class="card-text">Naszą misją jest zapewnienie bezproblemowego funkcjonowania Twojej infrastruktury IT poprzez dostarczanie wysokiej jakości wsparcia technicznego. Wierzymy, że każdy problem ma swoje rozwiązanie, a my jesteśmy tutaj, aby je znaleźć i wdrożyć.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-6 mb-5">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <h5 class="card-title mt-3">Nasze Usługi</h5>
                    <p class="card-text">
                        <ul>
                            <li><strong>Wsparcie Techniczne:</strong> Szybka i efektywna pomoc w rozwiązywaniu problemów technicznych, zdalna i na miejscu obsługa użytkowników, monitorowanie i utrzymanie systemów IT.</li>
                            <li><strong>Zarządzanie Zgłoszeniami:</strong> Przejrzysty system zarządzania zgłoszeniami, który umożliwia śledzenie postępu i priorytetowanie zadań, szybka reakcja na zgłoszenia awarii i problemów.</li>
                            <li><strong>Baza Wiedzy:</strong> Rozbudowana baza artykułów i FAQ, która umożliwia samodzielne rozwiązywanie problemów, regularnie aktualizowane treści oparte na najnowszych technologiach i najlepszych praktykach.</li>
                            <li><strong>Konsultacje IT:</strong> Doradztwo w zakresie optymalizacji i modernizacji infrastruktury IT, planowanie i realizacja projektów IT.</li>
                            <li><strong>Bezpieczeństwo IT:</strong> Ochrona przed zagrożeniami cybernetycznymi, regularne audyty bezpieczeństwa i aktualizacje systemów.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-6 mb-5">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <h5 class="card-title mt-3">Dlaczego Warto Wybrać "Bramę"?</h5>
                    <p class="card-text">
                        <ul>
                            <li><strong>Doświadczenie i Profesjonalizm:</strong> Nasz zespół składa się z doświadczonych specjalistów IT, którzy są gotowi sprostać każdym wyzwaniom.</li>
                            <li><strong>Indywidualne Podejście:</strong> Każde zgłoszenie traktujemy indywidualnie, dostosowując nasze rozwiązania do specyficznych potrzeb klienta.</li>
                            <li><strong>Innowacyjność:</strong> Wdrażamy nowoczesne technologie i innowacyjne rozwiązania, aby usprawnić działanie Twojej firmy.</li>
                            <li><strong>Niezawodność:</strong> Gwarantujemy terminowe i skuteczne rozwiązanie problemów, minimalizując przestoje w pracy Twojego zespołu.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
