@{
    ViewData["Title"] = "Polityka Prywatności";
}

<div class="privacy-policy container mt-5 t-b">

    <section class="mt-4">
        <h2>1. Wprowadzenie</h2>
        <p>Twoja prywatność jest dla nas bardzo ważna. W związku z tym opracowaliśmy niniejszą Politykę, abyś zrozumiał, w jaki sposób zbieramy, wykorzystujemy, komunikujemy i ujawniamy oraz wykorzystujemy dane osobowe. Poniżej przedstawiamy naszą politykę prywatności.</p>
    </section>

    <section class="mt-4">
        <h2>2. Zbieranie Informacji</h2>
        <p>Zanim lub w momencie zbierania danych osobowych, określimy cele, dla których informacje są zbierane. Zbieramy i wykorzystujemy dane osobowe wyłącznie w celu spełnienia tych celów określonych przez nas i do innych zgodnych celów, chyba że uzyskamy zgodę osoby, której dane dotyczą, lub zgodnie z wymogami prawa.</p>
    </section>

    <section class="mt-4">
        <h2>3. Bezpieczeństwo</h2>
        <p>Będziemy chronić dane osobowe przy użyciu rozsądnych zabezpieczeń bezpieczeństwa przed utratą lub kradzieżą, a także nieautoryzowanym dostępem, ujawnieniem, kopiowaniem, wykorzystaniem lub modyfikacją.</p>
    </section>

    <section class="mt-4">
        <h2>4. Polityka Plików Cookie</h2>
        <p>Nasza strona używa plików cookie do poprawy doświadczenia użytkownika. Pliki cookie są małymi plikami tekstowymi przechowywanymi na Twoim urządzeniu, które pomagają nam dostarczać spersonalizowane treści i śledzić korzystanie ze strony.</p>
    </section>

    <section class="mt-4">
        <h2>5. Zmiany w Polityce Prywatności</h2>
        <p>Możemy aktualizować naszą Politykę Prywatności od czasu do czasu, aby odzwierciedlić zmiany w naszych praktykach. Zachęcamy do regularnego przeglądania tej strony, aby być na bieżąco z naszymi praktykami dotyczącymi prywatności.</p>
    </section>

    <section class="mt-4">
        <h2>6. Kontakt</h2>
        <p>Jeśli masz jakiekolwiek pytania dotyczące tej Polityki Prywatności, prosimy o kontakt z nami.</p>
    </section>
</div>
    