@model Gateway.Models.UserViewModel

@{
    ViewBag.Title = "Edytowanie użytkownka";
}

<h2>Edytowanie użytkownika</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Nazwa użytkownika</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="AdministratorIndex">Powrót do listy</a>
</div>